.tamu-sections {
    display: flex;
    flex-direction: column;
}

.tamu-sections-section {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    
}

.tamuLore-figcaptions {
    text-align: left;
    margin-left: 1rem;
}

.tamuLore-figcaptions:nth-of-type(odd) {
    text-align: right;
    margin-right: 1rem;
}

.tamuLore-figcaptions > h2 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.tamuLore-figcaptions > p {
    font-size: 1.5rem;
}

.tamu-section-images {
    width: 50%;
}

#tamu-lastsection {
    margin-left: 20rem;
}

#tamu-firstsection {
    margin-top: 2rem;
}

@media screen and (max-width: 960px) {
    .tamu-sections-section {
        flex-direction: column;
        align-items: center;
    }
    
    figcaption {
        text-align: center;
    }

    #tamu-lastsection {
        margin-left: 0;
    }
}